<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AHKeychain-OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ahkeychaintest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE115D0C191117A800CB7530</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE3CE8521918286600150E3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE3CE8771918FEA600150E3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE3CE8961918FEA700150E3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BED8C25C191BAB78006BDDB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
